---
services:
  workflow.pacta:
    build: .
    # stdin_open: true
    # tty: true
    # entrypoint: ["R", "--args"]
    command: '{\"portfolio\": {\"files\": [\"default_portfolio.csv\"], \"holdingsDate\": \"2023-12-31\"}, \"inherit\": \"2023Q4\"}'
    environment:
      LOG_LEVEL: TRACE
      PACTA_DATA_DIR: "/mnt/pacta-data"
      ANALYSIS_OUTPUT_DIR: "/mnt/analysis_output_dir"
      PORTFOLIO_DIR: "/mnt/portfolios"
    volumes:
      - type: bind
        source: ${data_dir:-./pacta-data}
        target: /mnt/pacta-data
        read_only: true
      - type: bind
        source: ${analysis_output_dir:-./analysis_output_dir}
        target: /mnt/analysis_output_dir
        read_only: false
      - type: bind
        source: ${input_dir:-./portfolios}
        target: /mnt/portfolios
        read_only: true
